<h1>
  Add a new preparation
</h1>

<hr>

<%= render("preparation_templates/validation_failures.html.erb") %>

<form action="/insert_preparation_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @preparation.name %>">
  </div>

  <button>
    Create preparation
  </button>
</form>

<hr>

<a href="/preparations">
  Go back
</a>
