<h1>
  Edit preparation #<%= @preparation.id %>
</h1>

<hr>

<%= render("preparation_templates/validation_failures.html.erb") %>

<form action="/update_preparation_record/<%= @preparation.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @preparation.name %>">
  </div>

  <button>
    Update preparation
  </button>
</form>

<hr>

<a href="/preparations">
  Go back
</a>
