<h1>
  Add a new cuisine
</h1>

<hr>

<%= render("cuisine_templates/validation_failures.html.erb") %>

<form action="/insert_cuisine_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @cuisine.name %>">
  </div>

  <button>
    Create cuisine
  </button>
</form>

<hr>

<a href="/cuisines">
  Go back
</a>
