<h1>
  Edit cuisine #<%= @cuisine.id %>
</h1>

<hr>

<%= render("cuisine_templates/validation_failures.html.erb") %>

<form action="/update_cuisine_record/<%= @cuisine.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @cuisine.name %>">
  </div>

  <button>
    Update cuisine
  </button>
</form>

<hr>

<a href="/cuisines">
  Go back
</a>
